{{ with .block }}
<div class="grid items-center grid-cols-1 md:grid-cols-2 bg-offwhite">
  <div class="relative {{ if eq "right" .video_alignment }}md:order-last{{ end }}">
    <div class="relative w-full h-full aspect-video">
      <iframe
        class="absolute inset-0 w-full h-full"
        src="https://www.youtube.com/embed/{{ .youtube_id }}"
        title="{{ with .title }}{{ . }}{{ end }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
    {{ with .video_caption }}
      <p class="absolute bottom-0 left-0 mb-6 ml-3 text-xs font-semibold text-white">{{ . }}</p>
    {{ end }}
  </div>
  <div class="p-5 text-center">
    <div class="max-w-[518px] mx-auto">
      {{ with .title }}
        <h2 class="text-[1.25rem] md:text-[1.75rem] md:leading-[2.125rem] font-semibold">{{ . }}</h2>
      {{ end }}
      {{ with .subtitle }}
        <p class="mt-4 text-gray-mid">{{ . }}</p>
      {{ end }}
      {{ with $cta := .cta }}
        {{ with .url }}
        <a class="mt-6 md:mt-10 btn btn-outline" href="{{ . }}">{{ $cta.copy }}</a>
        {{ end }}
      {{ end }}
    </div>

  </div>
</div>
{{ end }}