# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Vagrant
.vagrant/

# FE Setup
.bin/node_modules/
node_modules
/npm-debug.log.*
/npm-debug.log
/npm-debug.log*

# Hugo
hugo_stats.json
public
resources

# Local Netlify folder
.netlify
bin/hugo*
cms_output.json
.hugo_build.lock
