{{ define "main" }}
<div class="container px-5 pb-10 mx-auto">
  {{ partial "breadcrumbs" . }}

  <h1 class="text-[2rem] leading-[2.8125rem] font-semibold">Page Not Found</h1>
  <div class="prose">
    <p>The page you requested cannot be found.</p>
    <p>Maybe the webpage was moved or deleted; or did you maybe mistype the link?</p>
    <p>Try…</p>
    <p>…to start over on the <a href="{{ .Site.Home.RelPermalink }}">home page</a></p>
    <p>…to <a href="/search">search</a></p>
    <p>If you cannot find it, <a href="/contact">ask about it</a>. </p>
  </div>
</div>
{{ end }}