---
layout: page-fullwidth
title: "Carpentries Governance"
permalink: /governance/
---

<p>The Carpentries is a fiscally sponsored project of <a href="https://communityinitiatives.org/">Community Initiatives</a>, a registered 501(c)(3) non-profit based in California, USA. The Carpentries is <a href="https://carpentries.org/files/pdf/Fiscal_Sponsorship_Transition_FAQ.pdf">transitioning out of fiscal sponsorship to an independent 501(c)(3) non-profit organisation</a>. For that reason, the organisation has two governing bodies: an Advisory Committee and a Board of Directors.</p>

<p>Governance of The Carpentries (a fiscally sponsored project of Community Initiatives) is undertaken by a three-person Advisory Committee.</p>

<h2 id="roles-advisory-committee">Roles and Responsibilities of the Advisory Committee</h2>

<p>Every fiscally sponsored project (FSP) must maintain an Advisory Committee of three or more persons that meets a minimum of once per year and provides its minutes to Community Initiatives upon request along with the FSP's annual budget. No more than 49 percent of the members of each Advisory Committee may be paid. Each FSP must maintain a current listing of the names, addresses, email addresses, and phone numbers of all members of its Advisory Committee and notify Community Initiatives when changes occur.</p>

<p>The Advisory Committee must, at minimum, assume the following joint responsibilities:</p>
<ul>
  <li>Sign the fiscal sponsorship agreement</li>
  <li>Hire, supervise, and terminate, when necessary, the FSP's Project Director (Executive Director)</li>
  <li>Approve reimbursement requests for Project Director and fellow Advisory Committee Members.</li>
</ul>

<h3 id="advisory-committee-members">Current Advisory Committee Members</h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
  
      {% assign people_list = site.data.governance.people | where: "active", true  | where: "advisory", true | sort: "person_name" | reverse %}
      {% include governance_profiles.md %}  
      </div>
    </div>

<h3 id="advisory-committee-contact">Contacting the Advisory Commitee</h3>

<p>Contact the Advisory Commitee by <a href="mailto:advisory-committee@carpentries.org">sending an email</a> or by <a href="https://forms.gle/pLyUYUZhNBwaS3mb7">filling out this form</a>. </p>

<p>The Carpentries is working towards transitioning out of fiscal sponsorship to an <a href="https://carpentries.org/files/pdf/Fiscal_Sponsorship_Transition_FAQ.pdf">independent 501(c)(3) non-profit organisation</a>. Governance of The Carpentries, Inc. (501c3 non-profit organisation) is undertaken by the Board of Directors to whom the Executive Director reports. The Board comprises 7-11 persons, either members of The Carpentries community or from external communities brought in for specific expertise. At least one-third of the Board members are elected by the Carpentries community.</p>

<h2 id="roles-board">Roles and Responsibilities of the Board of Directors</h2>

<p>The Board is responsible for strategic and organisational planning, selecting the Executive Director and evaluating their performance, financial oversight, identifying revenue streams and resource development, approving and monitoring The Carpentries programs and services, and enhancing The Carpentries public image. Members of the Board also serve as advocates and ambassadors for the organisation, leveraging their networks to benefit the organisation's reputation and fundraising. The Board executes these responsibilities through meetings, regular correspondence, and collaboration via email and online platforms.</p>

<p>In addition to <a href="https://github.com/carpentries/governance/tree/main/minutes">publicly posting meeting minutes</a>, the Board reports on its activities periodically in <a href="https://carpentries.org/newsletter/">Carpentries Clippings</a> and through <a href="https://carpentries.org/posts-by-tags/#blog-tag-governance">blog posts</a>. The Board also prepares <a href="https://github.com/carpentries/governance/tree/main/year-in-review">Yearly Summaries</a> of its activities.</p>

<h3 id="board-members">Current Board Members</h3>



    <div>
      {% assign people_list = site.data.governance.people | where: "active", true | sort: "person_name" | reverse %}
      {% include governance_profiles.md %}
    </div>


<h3 id="board-committees">Carpentries Board of Directors Standing Committees</h3>

<p>Standing Committees are used by the Board as a practical way to manage the work and engagement of the Board. For a description of the different Standing Committees, <a href="https://docs.carpentries.org/topic_folders/governance/board.html#board-of-directors-standing-committees">see the Carpentries' Handbook</a>.</p>

{% assign cmtes = site.data.governance.committees %}

{% for c in cmtes %}
<b>{{ c.committee_name }}</b>
<ul>
  <li><b>Chair:</b> {{ c.chair }}</li>
  {% assign member_list = c.members | sort: "person_name" | reverse %}
  {% for m in member_list %}
  <li>{{ m }}</li>
  {% endfor %}
</ul>
{% endfor %}

<h2 id="bylaws">Carpentries Bylaws and Policies</h2>
<p><a href="/files/exec_council/carpentries_inc_bylaws.pdf">The Carpentries Bylaws can be found here</a>. As well as our <a href="https://docs.carpentries.org/topic_folders/policies/index_coc.html">Code of Conduct</a>, we have a number of other policies that govern how we operate, <a href="https://docs.carpentries.org/topic_folders/policies/index.html">including our Privacy Policy, our instructor 'no-show' policy and others</a>.</p>

<h2 id="board-contact">Contacting the Board of Directors</h2>
<p>Contact the Board by <a href="board@carpentries.org">sending an email</a> or by <a href="https://docs.google.com/document/d/1xXVQIfUz0hV6I2VKUawXro2n7ioN5tBFbW0FBTZ8FiU/edit">filling in this form</a>. </p>

<h3 id="governance-past">Past Governance Members</h3>

<p>You will find our past governance members on the <a href="/governance-history/">Carpentries Governance History</a> page.</p>
