{{ $help_wanted := dict }}
{{ $data_available := false }}
{{ $url := "https://feeds.carpentries.org/help_wanted_issues.json" }}

{{ with resources.GetRemote $url }}
  {{ if .Err }}
    {{ printf "Unable to get remote resource %q" $url | warnf }}
  {{ else }}
    {{ $data_available = true }}
    {{ $help_wanted = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}

{{ if not $data_available }}
<strong>Our help wanted list is not currently available.  Please contact
the Carpentries Curriculum Team at curriculum@carpentries.org if you have any questions.</strong>


{{ else }}
<table>
    <thead>
        <tr>
        <th>Issue Title</th>
        <th>Repository</th>
        <th>Organisation</th>
        <th>Created on</th>
        <th>Last updated</th>
        <th>Labels</th>
        <th>Type</th>
        </tr>
    </thead>


{{ range $help_wanted }}

<tr>
    <td>
        <a href="{{ .url }}">{{ .title }}</a>
    </td>
    <td>
        <a href="https://github.com/{{ .full_repo }}">{{ .description }}</a>
        
    </td>
    <td>
        <a href="https://github.com/{{ .org_name }}">{{ .org_name }}</a>
    </td>
    <td>
        {{ dateFormat (site.Params.date_format | default "2 January, 2006") .created_at }}
    </td>
    <td>
        {{ dateFormat (site.Params.date_format | default "2 January, 2006") .updated_at }}
    </td>
    <td>
        {{ .labels }}
    </td>
    <td>
        {{ .type }}
    </td>
</tr>

{{ end }}

</table>

{{ end }}
