{{ $all_members := dict }}

{{ $url := "https://feeds.carpentries.org/all_public_memberships.json" }}

{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $all_members = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}

{{ $all_members := sort $all_members "name" }}

<h2>Platinum Members</h2>
<ul>
{{ range where $all_members "variant" "eq" "platinum"  }}
<li style="margin: 0;">
    <a href="https://{{ .domain }}">{{ .name }}</a> 
    <img width="24" src = "/flags_24/{{ lower .country }}.png" style="border: none; padding: 0; margin: 0; display:inline-block"> 
</li>
{{ end }}
</ul>

<h2>Gold Members</h2>
<ul>
{{ range where $all_members "variant" "eq" "gold"  }}
<li style="margin: 0;">
    <a href="https://{{ .domain }}">{{ .name }}</a> 
    <img width="24" src = "/flags_24/{{ lower .country }}.png" style="border: none; padding: 0; margin: 0; display:inline-block"> 
</li>
{{ end }}
</ul>

<h2>Silver Members</h2>
<ul>
{{ range where $all_members "variant" "eq" "silver"  }}
<li style="margin: 0;">
    <a href="https://{{ .domain }}">{{ .name }}</a> 
    <img width="24" src = "/flags_24/{{ lower .country }}.png" style="border: none; padding: 0; margin: 0; display:inline-block"> 
</li>
{{ end }}
</ul>

<h2>Bronze Members</h2>
<ul>
{{ range where $all_members "variant" "eq" "bronze"  }}
<li style="margin: 0;">
    <a href="https://{{ .domain }}">{{ .name }}</a> 
    <img width="24" src = "/flags_24/{{ lower .country }}.png" style="border: none; padding: 0; margin: 0; display:inline-block"> 
</li>
{{ end }}
</ul>
