{{ $siteUrl := site.BaseURL }}
<script language="Javascript" type="text/javascript">
  function google_search() {
    var query = document.getElementById("google-search").value;
    window.open("https://www.google.com/search?q=" + query + "+site:" + "{{ $siteUrl }}");
  }
</script>
<form id="search" onsubmit="google_search(); return false;">
  <label for="Search">Not sure where to find something on our homepage?
    <br>Enter search term and hit enter.</label>
  <input type="text" id="google-search" class="mt-2 block w-full border" placeholder="{{ i18n "enter_search_term" }}">
</form>
<noscript>
  Search <a href="https://www.google.com/search?q=site:{{ $siteUrl }}" target="_blank">Google</a> for: <pre><code>search-term site:{{ $siteUrl }}</code></pre>
</noscript>