<!-- 
Get data from this project's yaml file.
Get filter when shortcode is used in markdown content 
Filter subcomms by that filter
-->

{{ $subcommunities := site.Data.subcommunity.subcommunities }}
{{ $subcomm_type := .Get "subcomm_type"}}
{{ if ne $subcomm_type "" }}
    {{ $subcommunities = where $subcommunities "type" $subcomm_type }}
{{ end }}

{{ range $subcommunities }}

{{ $title := .name | default "Subcommunity" }}
{{ if or (eq $subcomm_type "") (eq .type $subcomm_type) }}
<details class="border">
  {{ with $title }}
    <summary class="cursor-pointer bg-primary-100 py-2 px-4">{{ . }}</summary>
  {{ end }}
  <div class="p-4">


<p>{{ .description }}</p>

<!-- check for location -->
{{ $location := "" }}
{{ if .location }}
{{ $location = .location }}
{{ else }}
{{ $location = "" }}
{{ end }}
<!-- end location  check -->

<!-- list group activities  -->
<div>
    <b>Activities:</b>
    {{ range .activities }}
    {{ if .carpentry_connect }}Carpentry Connect / {{ end }}
    {{ if .communication }}Communication / {{ end }}
    {{ if .prof_dev }}Professional Development   / {{ end }}
    {{ if .sow }}Self-Organised Workshops / {{ end }}
    {{ if .fundraising }}Fundraising  / {{ end }}
    {{ if .student_programs }} Student Programs / {{ end }}
    {{ if .translation }}Translation  / {{ end }}
    {{ if .mentoring }}Mentoring / {{ end }}
    {{ end }} <!-- end range activities -->
</div>

<!-- list group contacts  -->
<div>
    <b>Connect: </b>

    <!-- check for website -->
    {{ if .website }}
    <a href="{{ .website }}">Website</a> / 
    {{ end }}  
    <!-- end website check -->


    {{ range .contact }}

    {{ if .email }} Email: 
        {{ range $index, $email :=  .email }}
            {{ if $index }} / {{ end }}<a href="mailto:{{ $email }}">{{ $email }}</a>{{ end }} /
    {{ end }}

    {{ if .slack }}Slack: {{ .slack }} / {{ end }}
    {{ if .mailing_list }}<a href="{{ .mailing_list }}">Mailing list</a> / {{ end }}
    {{ if .contact_form }}<a href="{{ .contact_form }}">Contact form</a> / {{ end }}
    {{ if .contact_person }}Contact person: {{ .contact_person }} {{ end }}
    {{ end }} <!-- end range contact-->
    {{ range .social_media }}
    {{ if .twitter }}<a href="https://twitter.com/{{ .twitter }}"><i class="fab fa-twitter"></i></a></td> / {{ end }}
    {{ if .linkedin }}<a href="https://linkedin.com/in/{{ .linkedin }}"><i class="fab fa-linkedin"></i></a></td> / {{ end }}
    {{ end }} 
</div>

</div>
</details>

{{ end }}

{{ end }}